*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif ;
    font-weight: 500px;
    background-color: rgb(202, 202, 202);
}


.container{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}


h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-weight: 500px;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif
}

.image{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}



.buttons{
    display: flex;
    flex-direction: column;
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
}

/* Button 1*/

.btn-1{

    background: rgb(0, 96, 170);
    color: white;
    border-radius: 35px;
}

/*Button 2*/

.btn-2{

    background: rgb(0, 96, 170);
    color: white;
    border-radius: 35px;
}

/*Button 3*/

.btn-3{

    background: rgb(0, 96, 170);
    color: white;
    border-radius: 35px;
}


/*Button 4*/

.btn-4{

    background: rgb(0, 96, 170);
    color: white;
    border-radius: 35px;
}

/*return button*/


.btn-return{
    background: rgb(0, 96, 170);
    height: 100%;
    color: white;
    border-radius: 35px;

}


.container-rtn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}


/*Layout 1*/

.container-1{
    border: 3px solid white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 25px;
}

.box-wrapper{
    display: flex;
    align-items: center;
}
    

.box{
    border: 3px solid white;
    width: 100px;
    height: 100px;
}


.box-small{
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 24px;
}


/* Layout 2 */

.container-2 {
    border: 3px solid white;
    padding: 24px 24px 0px 24px;
   
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.title{
    border: 3px solid white;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.box-wrapper-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.box-small-2{
    border: 3px solid white;
    height:100px;
    width: 30%;
    margin-bottom: 25px;
}

/*Layout 3 */


.container-3{
    border: 3px solid white;
    padding: 24px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
}

.box-3{
    border: 3px solid white;
    height: 50px;
    margin-bottom: 25px;
}

.box-wrapper-3{
    width: 45%;
    display: flex;
    flex-direction: column;
}


.large-box-3{
    width: 50%;
    border: 4px solid white;
    padding-bottom: 50px;
}



/*Layout 4 */

.container-4{
    border: 3px solid white;
    padding: 24px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
}